body {
  background-color: #22272e;
  color: #d3dbe4;
  box-sizing: border-box;

}
/* Nav Links */
.nav-links{
  width: 100%;
  justify-content: space-between;
}
.nav-links .links {
  display: flex;
  /* justify-content: space-between; */

}
.nav-lins .user-icon{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.nav-links .user-icon .far{
  font-size: 2rem;
}

.nav-links .login-icon {
  /* float: right; */
  display: flex;
}
.mynav {
  color: #7e8286;
  font-weight: bold;
  font-size: 1.5rem;

}

/* Log In */
.login-wrapper {
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 20px;
  padding: 20px 20px;
  border: 1px solid #d3dbe4 ;

}

/* Question Card */

.mycard {
  width: 1000px;
  background-color: transparent;
  border-color: white;
}

.mycard .body-wrapper {
  margin-right: 100px;
}

.mycard .desc {
  /* max-height: 100px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lang {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 5px;
  background-color: #dc3545;
  border-bottom-right-radius: 5px;
}

.code {
  background-color: transparent;
  width: 100%;
  border-radius: 20px;
  padding: 20px 20px;
  border: 1px solid #d3dbe4;
}

.qbadge {
  right: 2%;
  top: 50%;
}

.copy {
  position: absolute;
  right: 2%;
}

.difficulty {
  padding: 0px 5px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  right: 10px;
}

.myquestion .editOrDelete {
  position: absolute;
  right: 0;
}

.questions .searchItems {
  display: flex;
  justify-content: center;
}

.questions .searchItems input[type=text] {
  width: 400px;
  /* width: 100%; */

}



.questions .filter {
  width: 220px;
}

.questions .filter .wrapper {
  display: flex;
  justify-content: space-between;
}


.questions .searchItems .fa-search {
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.questions .filter-tag {
  display: flex;
  justify-content: center;
  height: 35px;
}

.questions .filter-tag .wrapper span {
  margin-left: 10px;
  cursor: pointer;
}

.questions .filter-btn {
  background-color: transparent;
  color: inherit;
  border-radius: 20px;
  border-color: inherit;
  margin-right: 10px;
}

.questions .questions-links .link {
  font-size: 2rem;

}

/* Question Screen */
.questionScreen .header {
  display: flex;
}

.questionScreen .leetcode {
  margin-left: 10px;
  font-size: 0.7rem;
  margin-top: 10px;
}

.questionScreen .fa-arrow-circle-left {
  color: #d3dbe4;
  font-size: 2rem;
}

/* Respnsive Designe */

@media screen and (max-width:430px) {
  .questions .searchItems {
    display: block;
  }

  .questions .searchItems input[type=text] {
    width: 100%;
  }

  .questions .filter-tag {
    display: block;
  }
}