body {
  background-color: #22272e;
  color: #d3dbe4;
  box-sizing: border-box;

}

.mynav {
  color: #7e8286;
  font-weight: bold;

}

/*  */

.mycard {
  width: 1000px;
  background-color: transparent;
  border-color: white;
}

.lang {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 5px;
  background-color: #dc3545;
  border-bottom-right-radius: 5px;
}

.code {
  background-color: transparent;
  width: 100%;
  border-radius: 20px;
  padding: 20px 20px;
  border: 1px solid #d3dbe4;
}

.qbadge {
  right: 2%;
  top: 50%;
}

.copy {
  position: absolute;
  right: 2%;
}

.difficulty {
  color: green;
  margin-left: 20px;
  margin-top: 10px;

  border: 1px solid green;
  width: 45px;
  /* padding: 5px 5px; */
  text-align: center;
  border-radius: 20px;
  position: absolute;
  right: 10px;
}

.myquestion .editOrDelete {
  position: absolute;
  right: 0;
}

.questions .searchItems {
  display: flex;
  justify-content: center;
}

.questions .searchItems input[type=text] {
  width: 600px;

}

.questions .searchItems .difficultyBtn{
 /* width: 100%; */
 /* float: ; */
  /* display: inline-block; */
  /* float: left; */
}

.questions .searchItems .language{
  /* display: inline-block; */
 

}
.questions .filter
{
  width: 300px;
}

.questions .filter .wrapper {
  display: flex;
  justify-content: space-between;
}
/* .questions .filter {

} */
.questions .searchItems .fa-search{
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}